/*
=============== 
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/*
=============== 
Variables
===============
*/

:root {
    /* colors */
    --primary-1: #ccd8f5;
    --primary-2: #99b1eb;
    --primary-3: #668be0;
    --primary-4: #3364d6;
    --primary-5: #003DCC;
    --primary-6: #0031a3;
    --primary-7: #00257a;
    --primary-8: #001852;
    --primary-9: #000c29;

    --secondary-1: #f7f6d9;
    --secondary-2: #f0edb3;
    --secondary-3: #e8e58d;
    --secondary-4: #e1dc67;
    --secondary-5: #d9d341;
    --secondary-6: #aea934;
    --secondary-7: #827f27;
    --secondary-8: #57541a;
    --secondary-9: #2b2a0d;

    --tertiary-3: #f7bebd;
    --tertiary-4: #f28e8c;
    --tertiary-5: #ec5d5b;
    --tertiary-6: #a54140;
    --tertiary-7: #5e2524;

    --grey-1: #dae2ec;
    --grey-2: #bcccdc;
    --grey-3: #9eb2c7;
    --grey-4: #829ab0;
    --grey-5: #617d98;
    --grey-6: #48647f;
    --grey-7: #324d67;
    --grey-8: #243a52;
    --grey-9: #102a42;
    --white: #fff;
    --black: #000;

    /* fonts */
    --ff-primary: 'Lato', sans-serif;
    --ff-secondary: 'Noto Sans', sans-serif;

    /* general styling */
    --transition: all 0.3s linear;
    --letterSpacing: 0.25rem;
    --gap: 1rem;
    --borderRadius: 0.5rem;
    --shadow-1: 0 1px 2px 0 var(--grey-6);
    --shadow-2: 0 4px 10px 2px var(--grey-6);
    --shadow-3: 0 10px 15px 3px var(--grey-6);
    --shadow-4: 0 20px 25px 5px var(--grey-6);
    --max-width: 1170px;
    --fixed-width: 720px;
}

/*
=============== 
Global Styles
===============
*/

html {
    scroll-behavior: smooth;
}
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-secondary);
    background: var(--grey-1);
    color: var(--grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--primary-1);
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--letterSpacing);
    line-height: 0.75;
    font-family: var(--ff-primary);
}
h1 {
    font-size: 2rem;
    text-transform: capitalize;
}
h2 {
    font-size: 1.85rem;
}
h3 {
    font-size: 1.6rem;

}
h4,
p {
    letter-spacing: 0.1rem;
    font-size: 1rem;
}
.text-contrast {
    color: var(--secondary-5);
}
.small-text {
    letter-spacing: 1;
    font-size: 0.55rem;
}
img {
    width: 100%;
    display: block;
    padding-top: var(--gap);
}
.btn {
    margin-bottom: 0.35rem;
    text-transform: uppercase;
    background: var(--grey-9);
    color: var(--white);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--letterSpacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--grey-6);
    cursor: pointer;
    box-shadow: var(--shadow-1);
    border-radius: var(--borderRadius);
}
.btn:hover {
    color: var(--white);
    background: var(--black);
    transform: scale(1.2);
    border: 2px solid var(--grey-1);
}

/*
=============== 
Main Content
===============
*/

/* Preloader */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--grey-5);
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    z-index: 999;
    transition: var(--transition);
  }
.preloader-item {
    background: radial-gradient(var(--primary-1), var(--grey-5), transparent);
    color:var(--grey-1);
    font-size: 10rem;
    padding: 5rem;
}
.hide-preloader {
    z-index: -999;
    visibility: hidden;
}

/* Header and Nav */

header {
    min-height: 100vh;
    background: linear-gradient(rgba(226, 180, 154, 0.205), rgba(17, 42, 153, 0.233)),
    url(./media/images/banner.jpg) center/cover no-repeat;
    background-color: var(--primary-9);
}
nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: var(--gap);
    background: var(--primary-1);
}
.nav-toggle {
    font-size: 1.5rem;
    color: black;
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
    padding-right: 2.5rem;
}
.links-container {
    height: 0;
    overflow: hidden;
    width: 100%;
    transition: var(--transition);
}
.show-links {
    height: 165px;
}
.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}
.links li {
    text-align: center;
    font-size: 1.65rem;
    width: 40%;
    border-bottom: 2px solid var(--black);
}
.links li:hover {
    background: linear-gradient(var(--grey-1), var(--secondary-1));
    border-radius: var(--borderRadius);
    transition: var(--transition);
}

/* Fixed Nav and Go-to-Top link */

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--primary-1);
    box-shadow: var(--shadow-2);
    z-index: 99;
}
.fixed-nav .btn {
    border: 2px solid var(--tertiary-6);
}
.fixed-nav .btn:hover {
    border: 2px solid var(--tertiary-3);
}
.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 2rem;
    right: 5%;
    background: radial-gradient(circle at 20% 20%, var(--secondary-5), var(--secondary-9));
    display: grid;
    padding: 0.5rem;
    border-radius: var(--borderRadius);
    animation: pulse 4s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
}
.show-link {
    visibility: visible;
    z-index: 100;
  }
/* Banner Image and Content */

.banner {
    min-height: 100vh;
    display: grid;
    align-content: center;
    place-items: center;
    text-align: center;
    color: var(--white);
}
.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    margin: 0 1rem 4rem;
    background: rgba(187, 176, 176, 0.431);
    border-radius: 5px;
    padding: 2rem;
}
.banner h1 {
    padding: 0.3rem;
    border-radius: 48%;
    line-height: 1;
}
.banner p {
    border-radius: var(--borderRadius);
    padding: 0.25rem;
    font-size: 0.95rem;
    font-weight: 700;
    background: radial-gradient(ellipse at 50% 50%, var(--secondary-3), var(--tertiary-3));
    color: var(--black);
}
.banner a {
    border: 2px solid var(--primary-8);  
    background: radial-gradient(transparent, var(--primary-9));
    color: var(--primary-1);
    font-weight: 700;
}
.banner a:hover {
    background: radial-gradient( transparent, var(--grey-9), var(--primary-9));
    border: 2px solid var(--primary-1);  
}

/* Pages */
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    background: var(--primary-9);
}
.page:nth-child(even) {
    background: var(--primary-8);
}
.page h3 {
    margin-bottom: var(--gap);
    text-decoration: underline;
}
#services h2,
#projects h2 {
    text-decoration: underline;
    font-size: 3.3rem;
    margin-bottom: var(--gap);
}
/* about page */

.about-content {
    position: relative;
    margin-top: var(--gap);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    max-width: var(--fixed-width);
    padding: 1rem;
    background: var(--grey-5);
    text-align: left;
    font-weight: 600;
    line-height: 1.9;
    border-radius: 5px 25px;
}
.about-content p {
    padding: 0.55rem;
    border-radius: var(--borderRadius);
}
.fixed-img {
    position: absolute;
    display: flex;
    justify-content: flex-end;
}
.portrait-icon:hover {
    color: var(--secondary-3);
}
.close:hover {
    color: var(--tertiary-5);
}
.about-content img {
    width: 43%;
    padding: 0.25rem;
    border-radius: 50%;
    box-shadow: 4px 2px 15px 2px var(--primary-8);
    display: inline-block;
}
.hide-img {
    display: none;
}

.about-content p:nth-child(even) {
    background: var(--grey-7);
}
.about-content p:nth-child(odd) {
    background: var(--primary-1);
    color: var(--grey-9);
}
.contact {
    font-size: 1rem;
    margin: 0 auto;
    width: 60%;
    max-width: 600px;
    background: var(--grey-9);
    padding: 0.5rem;
    text-align: center;
    border-radius: 0 0 5px 5px;
}
.contact ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.contact a {
    font-size: 1.4rem;
    color: var(--secondary-5);
}
.contact a:hover {
    color: var(--secondary-2);
}
/* services page */

#services {
    gap: var(--gap);
}

.services-container {
    display: flex;
    justify-content: center;
    gap: var(--gap);
    background: radial-gradient(var(--primary-1) 47%, var(--primary-8), var(--primary-9));
    padding: var(--gap);
    border-radius: 50%;
}
#services p {
    max-width: 460px;
    margin: var(--gap);
    background: var(--grey-8);
    border-radius: var(--borderRadius);
    padding: var(--gap);
    font-weight: 600;
}
.logo {
    width: 6rem;
    padding: 0.2rem;
    transition: var(--transition);
}
.logo:hover {
    transform: scale(1.2);
}

/* Projects page */

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--gap);
    gap: 2rem;
    line-height: 1.2;
    letter-spacing: 0.15rem;
}
.projects-container > * {
    max-width: var(--fixed-width);
    color: var(--primary-1);
}

.projects-container .btn {
    display: inline-grid;
    background: var(--primary-6);
    font-family: var(--ff-primary);
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.25;
}
.projects-container .btn:hover {
    background: var(--tertiary-6);;
    color: var(--secondary-1);
    border: 2px solid var(--secondary-8);
    transform: scale(1.1);
}
.projects-container p {
    margin-bottom: 0.25rem;
    font-style: italic;
    font-size: 0.65rem;
}
.project {
    width: 100%;
    border: 2px solid var(--primary-9);
}

/* Slider */
.slider-interface {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.slider-container {
    width: 60vw;
    margin: 0 auto;
    height: 35vh;
    max-width: 80rem;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    padding-top: var(--gap);
  }
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary-9);
    color: var(--white);
    transition: all 0.25s ease-in-out;
    text-align: center;
}
.prev-btn,
.next-btn {
    font-size: 2rem;
    margin-top: 7rem;
}

footer {
    text-align: center;
    padding: 2rem;
    background: var(--grey-8);
    color: var(--secondary-1);
}

/*
=============== 
Media Queries
===============
*/

@media screen and (min-width: 512px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.85rem;
    }
    h4 {
        font-size: 1.1rem;
    }
    .projects-container {
        line-height: 2;
    }
    .projects-container .btn {
        font-size: 1.5rem;
    }
    .projects-container p {
        font-size: 1rem;
    }
    .slider-container {
        height: 40vh;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 4rem;
      }
    h2 {
        font-size: 2.5rem;
      }
    h3 {
        font-size: 2.1rem;
      }
    h4 {
        font-size: 1.5rem;
      }
    body {
        font-size: 1.2rem;
      }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
    p {
        font-size: 1.1rem;
    }
    nav {
        background: transparent;
    }
    .nav-toggle {
        display: none;
    }
    .links-container {
        height: auto;
    }
    .links {
        flex-direction: row;
        justify-content: flex-end;
        gap: 5rem;
    }
    .links li {
        width: auto;
    }
    .links li:hover {
        transition: var(--transition);
        background: none;
        border-bottom: 2px solid white;
    }
    .banner-container a {
        width: 420px;
    }
    .links li:last-child,
    .fixed-nav li:last-child {
        margin-right: 4rem;
    }
    .services-container {
        padding: 2rem;
    }
    .contact {
        font-size: 1.25rem;
    }
    .contact a {
        font-size: 3rem;
    }
    .about-content img {
        padding: 0.55rem;
    }
    .prev-btn,
    .next-btn {
        font-size: 5rem;
    }
}
@media screen and (min-width: 1024px) {
    h1 {
        font-size: 5rem;
      }
    h2 {
        font-size: 3.5rem;
      }
    h3 {
        font-size: 2.75rem;
      }
    h4 {
        font-size: 1.25rem;
      }
    body {
        font-size: 2rem;
      }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
    p {
        font-size: 1.2rem;
    }
    nav {
        transition: var(--transition);
        width: 90vw;
    }
    .fixed-nav li:last-child{
        margin-right: 9rem;
    }
    .contact {
        font-size: 1.5rem;
    }
    .top-link {
        right: 8%;
        font-size: 1.8rem;
    }
    .slider-container {
        height: 50vh;
    }

}

/*
=============== 
Animation
===============
*/

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
